* {
    margin: 0;
    box-sizing: border-box;
}

.Logo {
    display: flex;
    height: 55px;
    margin-left: 10vh;
    cursor: pointer;
}

.user {
    display: flex;
    margin-left: -65vh;
}

.buttonzinho {
    cursor: pointer;
    border: none;
    display: block;
    font-size: 15px;
    color: #ffff;
    text-transform: uppercase;
    height: 50px;
    background: #130A58;
    border-radius: 4px;
    transform: rotate(-0.1deg);
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

button:disabled {
    opacity: 0.7;
    cursor: pointer;
}


.nav-style a {
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: x-large;
    color: white;
    opacity: 1;

}

.nav-style li {
    margin: 40px 0px;
    cursor: pointer;
    list-style: none;
    max-width: 150px;
}

.nav-style .homeicon {
    height: 35px;
    margin: -10px;
}

.nav-style .topicon {
    height: 35px;
    margin: -10px;
}

.searchbar{
    margin-left: 20vh;
    width: 100%;
}

.searchbar button{
    background: #D7E0FF;
    box-shadow:  1px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    height: 25px;
    width: 28px;
}

.searchbar img{
    height: 15px;
    width: 15px;
}

.searchbar input{
    height: 30px;
    width: 41.6%;
    background-color: #D7E0FF;
}

.searchbarresults ul{
    list-style: none;
    background-color: #E6E6FA;
    width: 41.3%;
    margin-block: -1.1%;
    margin-left: 0.2%;
    margin-top: -0.5%;
}

.searchbarresults li{
    margin-block-start: 8px;
}

.searchbarresults a{
    text-decoration: none;
    color: #000;
    font-family: 'Niramit', sans-serif;
    
}


/* ---------------- Navbar and burger menu ------------------ */
.navheader{
    position: fixed;
    width: 100%;
    height: 5em;
    background-color: #4C369E;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    z-index: 3;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: #FFFF;
    border-radius: 0.5em;
}

.menu {
    width: 18%;
    height: 50vh;
    background-color: #4C369E;
    position: fixed;
    top: 70px;
    border-radius: 10px;
    z-index: 2;

}


/* ------------- sliding menu ------------------
.teste {
    display: flex;
    flex-direction: column;
}

*/
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

/*responsive*/

@media only screen and (max-width:1170px){
    .searchbar{
        margin-left:10vh;
    }
    .searchbarresults ul{
        width: 41.3%;
        margin-top: -1.2%;
    }
    .user{
        margin-left: -56vh;
    }
}



@media only screen and (max-width:950px){
    .menu{
        width: 27%;
        height: 57vh;
    }
    .Logo{
        display: none;
    }
    .user{
        margin-left: -40vh;
    }

}

@media only screen and (max-width:770px){
    .menu{
        height: 43vh;
        width: 27%;
    }
    .searchbar{
        margin-left:13vh;
    }
    .searchbarresults ul{
        width: 41.3%;
        margin-top: -1.2%;
    }
    .user{
        margin-left: -32vh;
    }

}

@media only screen and (max-width:670px){
    .menu{
        height: 43vh;
        width: 33%;
    }
    .searchbar{
        margin-left:7vh;
    }
    .user img{
        display: none;
    }
}

@media only screen and (max-width:570px){
    .menu{
        height: 43vh;
        width: 42%;
    }
    .user{
        margin-left: -28vh;
    }

}

@media only screen and (max-width:415px){
    .menu{
        height: 43vh;
        width: 50%;
    }
    .searchbar{
        margin-left:3vh;
    }
    .user{
        margin-left: -25vh;
    }
}

@media only screen and (max-width:320px){
    .user{
        margin-left: -23vh;
    }
}