.homeC {
    margin: 15%;
}

.popular {
    width: 100%;
}

.popular button {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    background-color:#ECE7FE;
}

.popular ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular li {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.popular img {
    width: 191px;
    height: 236px;
    margin: 10px;
    border-radius: 3%;
}

.descriptionSection {
    display: flex;
    flex-direction: column;
}

.descriptionSection h2 {
    font-size: 18px;
    margin: 0;
}

.descriptionSection h6 {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    color: #888;
}
.pagination {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.pagination button{
    color: #000; 
}

.pagination .active{
    color:#736F77;
    background-color:#C5BEE2;
    border-radius: 4px;
}

@media only screen and (max-width:951px){
    .homeC{
        margin:10%;
    }
    .popular{
        width: 107%;
    }
}

@media only screen and (max-width:770px){
    .homeC{
        margin:9%;
        margin-top:15%;
    }
}

@media only screen and (max-width:671px){
    .homeC{
        margin:7%;
        margin-top: 17%;
        margin-left: 13%;
    }
    .popular{
        width: 84%;
    }
    .popular li {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-end;
        justify-content: space-between;
        flex-direction: row;
    }
    .popular ul{
        align-items: flex-start;
    }
}

@media only screen and (max-width:571px){
    .popular{
        width: 110%;
    }
    .popular img{
        width: 144px;
        height: 192px;
    }
}

@media only screen and (max-width:470px){
    .homeC{
        margin:15%;
        margin-left: 17%;
    }
    .popular{
        width: 143%;
    }
}

@media only screen and (max-width:320px){
    .homeC{
        margin:22%;
    }
    .popular{
        width: 200%;
    }
}