.carousel{
    display: flex;
    justify-content: center;
    position: absolute;

}

.carousel .slide{
    background-color: #E7D1F4;
    height: 80vh;
}

.carousel .slide img{
    max-height: 100%;
    width: auto;
}

.image{
    margin: 6% auto;
    height: 100%;
    width: auto;
}



@media only screen and (max-width:1201px){
    .carousel{
        height: 86vh;

    }
    .carousel .slide{
        height: 100vh;
    }
    .carousel .slide img{
        margin:10vh auto;
        width: 100vw;
    }
    .image{
        margin: -1% auto;
    }
}

@media only screen and (max-width: 1171px){
    .carousel{
        height: 83vh;
    }
}

@media only screen and (max-width: 1101px){
    .carousel{
        height: 83vh;
    }
}

@media only screen and (max-width: 971px){
    .carousel{
        height: 73vh;
    }
    .carousel .slide img{
        margin:10vh auto;
        width: 100vw;
    }
}


@media only screen and (max-width: 771px){
    .carousel{
        height: 59vh;
    }
    .carousel .slide img{
        margin:10vh auto;
        width: 100vw;
    }
}


@media only screen and (max-width:671px){
    .carousel{
        height: 52vh;
    }
    .carousel .slide img{
        margin:10vh auto;
        width: 100vw;
    }
}

@media only screen and (max-width:571px){
    .carousel-root{
        width: 111%;
    }
    .carousel{
        height:46vh;
    }
}


@media only screen and (max-width:416px){
    .carousel{
        height: 37vh;
        margin-left: 13%;
        margin-top: -5%;
    }
    .carousel .slide img{
        margin:10vh auto;
        width: 100vw;
    }
    .carousel-root{
        width: 126%;
    }
}

@media only screen and (max-width:360px){
    .carousel{
        height: 34vh;
    }
    .carousel-root{
        width: 138%;
    }
}

@media only screen and (max-width:320px){
    .carousel{
        height: 34vh;
        margin-left: 17%;
    }
    .carousel-root{
        width: 148%;
    }
}