.trend {
    margin: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.trend h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}

.trend ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.trend li {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.trend img {
    width: 191px;
    height: 236px;
    margin: 10px;
    border-radius: 3%;
}

.descriptionTop button{
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
    background-color: #ECE7FE;
    font-weight: bold;
}

.descriptionTop {
    display: flex;
    flex-direction: column;
}

.descriptionTop h2 {
    font-size: 18px;
    margin: 0; 
}

.descriptionTop h6 {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    color: #888;
}

.collapsed{
    text-align: justify;
}

.expandable {
    font-size: 14px;
    text-align: justify;
}


@media only screen and (max-width:950px){
    .trend{
        margin-top:20%;
        padding-left: 5%;
    }
    .trend ul{
        flex-direction: column;
        align-items: center;
    }
    .trend li {
        width: calc(95% - 10px);
    }

}

@media only screen and (max-width:571px){
    .trend li{
        width: calc(115% - 10px);
    }
}

@media only screen and (max-width:415px){
    .trend{
        margin-top:30%;
    }
    
    .trend img{
        width: 125px;
        height: 178px;
    }
    .trend li{
        width: calc(134% - 10px);
    }
}

@media only screen and (max-width:320px){
    .trend li{
        width: calc(165% - 10px);
    }
}