.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 456px;
    height: 395px;
    padding: 35px;
}

.area-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 170vh;
    justify-content: center;
    align-items: center;
}

section.area-register {
    position: absolute;
    width: 700px;
    height: 582px;
    left: 590px;
    top: 201px;
    opacity: 1.4;
}

.register form {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.register input {
    margin-top: 10px;
    height: 45px;
    width: 470px;
}

.Logoin {
    display: flex;
    height: 100px;
}

/*responsive*/

@media only screen and (max-width:1440px){
    .register{
        width: 60%;
        padding: 5%;
    }
    section.area-register{
        left: 10%;
        width: 83%;
    }
}

@media only screen and (max-width:900px){
    .register{
        width: 75%;
    }
}

@media only screen and (max-width:600px){
    section.area-register{
        left:-5%;
        width: 50%;
    }
}